@use '@angular/material' as mat;
@use 'sass:map';
@include mat.core();

@function _patch-error-palette($palette) {
  @return map.merge(
      $palette,
      (
        error: (
          0: #000000,
          10: #410002,
          20: #690005,
          25: #7e0007,
          30: #93000a,
          35: #a80710,
          40: #ba1a1a,
          50: #de3730,
          60: #ff5449,
          70: #ff897d,
          80: #ffb4ab,
          90: #ffdad6,
          95: #ffedea,
          98: #fff8f7,
          99: #fffbff,
          100: #ffffff,
        ),
      )
  );
}

$blue-palette: _patch-error-palette((
  0: #000000,
  10: #0F1A3C,
  20: #16285C,
  25: #1B3170,
  30: #1E3A8A,
  35: #2145A4,
  40: #2650BE,
  50: #3069E0,
  60: #4A83F0,
  70: #6B9CF7,
  80: #94B9FB,
  90: #C6DBFE,
  95: #E3EEFF,
  98: #F7FAFF,
  99: #FBFCFF,
  100: #FFFFFF,
  secondary: (
    0: #000000,
    10: #101826,
    20: #1B2536,
    25: #233042,
    30: #2A3B4F,
    35: #31465C,
    40: #3A516A,
    50: #4D6885,
    60: #6582A2,
    70: #809CBF,
    80: #9DB8DC,
    90: #C2D8F7,
    95: #E3EEFF,
    98: #F7FAFF,
    99: #FBFCFF,
    100: #FFFFFF,
  ),
  neutral: (
    0: #000000,
    10: #1b1b1f,
    20: #303034,
    25: #3c3b3f,
    30: #47464a,
    35: #535256,
    40: #5f5e62,
    50: #78767a,
    60: #929094,
    70: #adaaaf,
    80: #c8c5ca,
    90: #e5e1e6,
    95: #f3eff4,
    98: #fcf8fd,
    99: #fffbff,
    100: #ffffff,
    4: #0e0e11,
    6: #131316,
    12: #201f22,
    17: #2a292d,
    22: #353438,
    24: #3a393c,
    87: #dcd9dd,
    92: #ebe7eb,
    94: #f0edf1,
    96: #f6f2f7,
  ),
  neutral-variant: (
    0: #000000,
    10: #1b1b23,
    20: #303038,
    25: #3b3b43,
    30: #46464f,
    35: #52515b,
    40: #5e5d67,
    50: #777680,
    60: #91909a,
    70: #acaab4,
    80: #c7c5d0,
    90: #e4e1ec,
    95: #f2effa,
    98: #fbf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
));

$orange-palette: _patch-error-palette((
  0: #000000,
  10: #330F00,
  20: #5F1C00,
  25: #771F00,
  30: #8F2500,
  35: #A72C00,
  40: #C03400,
  50: #F97316,
  60: #FF8D42,
  70: #FFA766,
  80: #FFC48C,
  90: #FFE0B2,
  95: #FFF0D9,
  98: #FFF8F0,
  99: #FFFBF8,
  100: #FFFFFF,
  secondary: (
    0: #000000,
    10: #26170F,
    20: #3D291D,
    25: #493225,
    30: #553C2E,
    35: #624638,
    40: #705043,
    50: #8B6656,
    60: #A67D6B,
    70: #C19582,
    80: #DDBE9D,
    90: #F6DDC0,
    95: #FFEEE0,
    98: #FFF8F5,
    99: #FFFBFA,
    100: #FFFFFF,
  ),
  neutral: (
    0: #000000,
    10: #201a17,
    20: #362f2b,
    25: #413a36,
    30: #4d4541,
    35: #59514d,
    40: #655d58,
    50: #7e7571,
    60: #998f8a,
    70: #b4a9a4,
    80: #d0c4bf,
    90: #ece0da,
    95: #fbeee8,
    98: #fff8f5,
    99: #fffbff,
    100: #ffffff,
    4: #120d0b,
    6: #181210,
    12: #241e1b,
    17: #2f2926,
    22: #3a3330,
    24: #3f3834,
    87: #e3d8d3,
    92: #f2e6e1,
    94: #f8ebe6,
    96: #fef1ec,
  ),
  neutral-variant: (
    0: #000000,
    10: #241912,
    20: #3a2e26,
    25: #463931,
    30: #52443c,
    35: #5e4f47,
    40: #6b5b52,
    50: #84746a,
    60: #9f8d83,
    70: #baa79d,
    80: #d7c3b8,
    90: #f4ded3,
    95: #ffede4,
    98: #fff8f5,
    99: #fffbff,
    100: #ffffff,
  ),
));

$steel-blue-palette: _patch-error-palette((
  0: #000000,
  10: #0C172D,
  20: #162544,
  25: #1C2E55,
  30: #1E3A6A,
  35: #1E4080,
  40: #1E40AF,
  50: #2E59D1,
  60: #4B78F3,
  70: #6A95FF,
  80: #91B4FF,
  90: #B9D3FF,
  95: #DBE8FF,
  98: #F3F8FF,
  99: #FAFCFF,
  100: #FFFFFF,
  secondary: (
    0: #000000,
    10: #101923,
    20: #1C2933,
    25: #243241,
    30: #2C3B4F,
    35: #34455D,
    40: #3C506B,
    50: #516885,
    60: #6A829F,
    70: #869CB9,
    80: #A2B8D4,
    90: #C6D9F0,
    95: #E3EEFF,
    98: #F3F8FF,
    99: #FAFCFF,
    100: #FFFFFF,
  ),
  neutral: (
    0: #000000,
    10: #1b1b1f,
    20: #303034,
    25: #3c3b3f,
    30: #47464a,
    35: #535256,
    40: #5f5e62,
    50: #78767a,
    60: #929094,
    70: #adaaaf,
    80: #c8c5ca,
    90: #e5e1e6,
    95: #f3eff4,
    98: #fcf8fd,
    99: #fffbff,
    100: #ffffff,
    4: #0e0e11,
    6: #131316,
    12: #201f22,
    17: #2a292d,
    22: #353438,
    24: #3a393c,
    87: #dcd9dd,
    92: #ebe7eb,
    94: #f0edf1,
    96: #f6f2f7,
  ),
  neutral-variant: (
    0: #000000,
    10: #1b1b23,
    20: #303038,
    25: #3b3b43,
    30: #46464f,
    35: #52515b,
    40: #5e5d67,
    50: #777680,
    60: #91909a,
    70: #acaab4,
    80: #c7c5d0,
    90: #e4e1ec,
    95: #f2effa,
    98: #fbf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
));

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $blue-palette,
    tertiary: $orange-palette,
  ),
  typography: (
    brand-family: 'Inter, sans-serif',
  )
));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $blue-palette,
    tertiary: $orange-palette,
  ),
  typography: (
    brand-family: 'Inter, sans-serif',
  )
));

:root {
  @include mat.all-component-themes($dark-theme);
}

.light-theme {
  @include mat.all-component-colors($light-theme);
}
