<nav class="navbar navbar-expand-lg p-0">
  <div class="container justify-content-between d-flex align-items-center">
    <a class="navbar-brand" routerLink="/">
      <div id="svg-logo"></div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item m-3 m-lg-0">
          <a class="nav-link link-btn" aria-current="page" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon class="icon">home</mat-icon>
            <span>&nbsp;Strona główna</span>
          </a>
        </li>
        <li class="nav-item m-3 m-lg-0">
          <a class="nav-link link-btn" routerLink="/history" routerLinkActive="active">
            <mat-icon class="icon" style="transform: rotate(90deg);">linear_scale</mat-icon>
            <span>Moja historia</span>
          </a>
        </li>
        <li class="nav-item m-3 m-lg-0">
          <a class="nav-link link-btn" routerLink="/contact" routerLinkActive="active">
            <mat-icon class="icon">contact_phone</mat-icon>
            <span>&nbsp;&nbsp;Kontakt</span>
          </a>
        </li>
        <li class="nav-item m-3 m-lg-0">
          <app-lang-select></app-lang-select>
        </li>
        <li class="nav-item m-3 m-lg-0">
          <app-theme-toggle></app-theme-toggle>
        </li>
      </ul>
    </div>
  </div>
</nav>
