<nav class="navbar navbar-expand-lg">
  <div class="container justify-content-between d-flex">
    <a class="navbar-brand" href="#">
      <div id="svg-logo"></div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item m-3 m-lg-0">
          <a class="nav-link active" aria-current="page" href="#"><mat-icon>home</mat-icon></a>
        </li>
        <li class="nav-item m-3 m-lg-0">
          <a class="nav-link" href="#"><mat-icon style="transform: rotate(90deg);"> linear_scale</mat-icon> Moja historia</a>
        </li>
        <li class="nav-item m-3 m-lg-0">
          <a class="nav-link" href="#"><mat-icon>contact_phone</mat-icon>&nbsp;&nbsp;Kontakt</a>
        </li>
        <li class="nav-item m-3 m-lg-0">
          <mat-form-field appearance="outline" style="width: 100px">
            <mat-select [(value)]="selectedValue">
              <mat-option *ngFor="let item of items" [value]="item.value">
                <div style="display: flex; gap: 3px"><img src="flags/{{ item.value }}.svg" alt="{{ item.name }}"> {{ item.name }}</div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </li>
      </ul>
    </div>
  </div>
</nav>
